page-about 
{
	.heat-button-holder
	{
		width: 50%;
		height:150px;
		float:left;
		padding:10px 5px 5px 5px;
		margin-bottom:10px;
	}

	.heat-button
	{
		width:100%;
		height:150px;
		background-color: rgba(51, 102, 255, 0.4);
		float:left;
		border-radius:3px;
		text-align:center;
	}

	.heat-button span
	{	
		width:30px;
		color:#20373c;	
	}

	.heat-button img
	{	
		width:80px;
		color:black;
		display: block;
		margin:auto;
		margin-top:10px;
		margin-bottom:5px;
	}
}
