page-login 
{
	.wrapper-login
	{
		background:url("../assets/img/bg-login.png");
		background-size: 100% 100%;
		width:100%;
		height:100%;
	    background-repeat: no-repeat;
	    position:fixed;
	}

	.login-card
	{
		position:absolute;
		bottom:130px;
		left:0;
		background:rgba(255, 255, 255, 0.6);
		box-shadow:none;
	}

	.button-card
	{
		position:absolute;
		bottom:25px;
		left:0;
		background: none;
		box-shadow:none;
		height:100px;
	}

	.login
	{
		border-bottom:1px solid #20373c;
	}
}
