page-friends 
{
	.profile-info img
	{
		border-radius:50%;
		width:100px;
		display: block;
	    margin: 20px auto;
	}

	.toolbar-title-md
	{
		margin-left:-20px;
		color:#20373c;
	}

	h1
	{
		font-style: italic;
		font-size:16pt;
		color:blue;
		text-align: center;
		color:#20373c;
	}

}
